/* Global */
body {
  margin: 0;
  font-family: "Righteous", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#userInterface-div {
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.userInterface-div-rebirth {
  animation: playerRebirth 5s;
}

@keyframes playerRebirth {
  50% {
    filter: blur(20px);
  }
  90% {
    filter: blur(80px) grayscale(1);
  }
  100% {
    filter: blur(0px);
  }
}

#userInterface-stages-stage-checkbox {
  width: 0.8vw;
  height: 0.8vw;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #ffffff00;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb {
  background-color: #00000094;
  border: 1px solid #b6b6b670;
  border-radius: 15px;
}

.progress {
  border: 0.5px solid rgba(0, 0, 0, 0.815);
  border-radius: 15px;
}

.battleArea-progress {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 1.4vh;
  width: 10vw;
  border-radius: 20px;
}

.deckCard-progress {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 1.4vh;
  width: 5vw;
  border-radius: 20px;
}

.deckCard-progress::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, rgb(0, 255, 0), #95ff57);
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 20px;
}

#battleArea-progress-playerExperience,
#battleArea-progress-playerFever {
  width: 39vw;
}

#battleArea-progress-playerHealth-div,
#battleArea-progress-playerFever-div,
#battleArea-progress-playerExperience-div,
#battleArea-progress-enemyHealth-div {
  display: flex;
  color: white;
}

#battleArea-progress-playerExperience-div,
#battleArea-progress-playerFever-div {
  width: 39vw;
}

.battleArea-progress-name {
  padding: 0.2vw;
}

#battleArea-progress-enemyHealth {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 1.4vh;
  width: 25vw;
}

#battleArea-progress-playerHealth::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, rgb(255, 54, 54), #ff9557);
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 20px;
}

::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 20px;
  border: 1px solid black;
}

#battleArea-progress-enemyHealth::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, rgb(255, 54, 54), #ff9557);
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 20px;
}

#battleArea-progress-playerExperience::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, rgb(0, 255, 55), #9dff00);
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 20px;
}

#battleArea-progress-playerFever::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, rgb(162, 0, 255), #ff006a);
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 20px;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Targeted */

.cooldown {
  opacity: 0.25;
  transition-duration: 0.2s;
}

.scale {
  transition-duration: 0.2s;
}

.scale-attack {
  transform: scale(1.2);
}

.scale:hover {
  transform: scale(1.2);
}

.scale-click {
  transition-duration: 0.15s;
}

.scale-click:active {
  transform: scale(1.4);
}

.damageParagraph {
  font-family: "Righteous", cursive;
}

#userInterface-h1 {
  position: relative;
  font-family: "Great Vibes", cursive;
  font-size: 2vw;
  padding: 0.25vw;
  top: 4vh;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.76);
  border: 1px solid rgba(95, 95, 95, 0.486);
  border-radius: 50px;
  color: white;
  left: 42.5vw;
  width: 15vw;
}

#userInterface-resources-div {
  position: relative;
  display: flex;
  top: 6vh;
  margin: auto;
  width: 25vw;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.048);
  border: 1px solid rgba(95, 95, 95, 0.486);
  font-size: 0.9vw;

  border-radius: 15px;
  color: white;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#userInterface-userSettings-div {
  display: flex;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.userInterface-resource-div {
  display: inline;
}

.userInterface-resources-image {
  width: 4vw;
}

.userInterface-resource-div-paragraph {
  background-color: rgba(0, 0, 0, 0.678);
  border-radius: 5px;
}

.userInterface-stats-summary-row,
.deckMenu-row,
.userInterface-vires-row {
  display: flex;
  margin-bottom: 1vw;
  overflow-x: hidden;
}

.deckMenu-row-section-bonusImage {
  width: 1.5vw;
}

.userInterface-stats-summary-section,
.deckMenu-row-section,
.userInterface-vires-section {
  display: block;
  width: 5vw;
  padding: 0.2vw;
  border-radius: 15px;
}

.userInterface-stats-summary-section {
  background-color: rgba(173, 173, 173, 0.178);
}

.userInterface-stats-summary-section-image {
  height: 2vh;
}

.userInterface-vires-image {
  width: 3vw;
}

.userInterface-vires-purchaseButton {
  padding: 0.3vh 0.6vh;
  background-color: rgba(73, 73, 73, 0.726);
  border: 0.1vh solid rgba(255, 255, 255, 0.616);
  border-radius: 10px;
  display: flex;
}

.vires-purchaseButton-image {
  width: 1.5vw;
}

.deckMenu-row-image {
  max-width: 5.4vw;
  max-height: 5vw;
  transition-duration: 0.2s;
}
.deckMenu-row-image-container {
  width: 5.4vw;
  height: 5vw;
  display: flex;
}

.deckMenu-row-image:hover {
  transform: scale(1.5) rotate(-10deg) translate(0, -10px);
}

.deckMenu-row-image-locked {
  width: 5vw;
  opacity: 0.1;
}

.deckMenu-row-section {
  background-color: rgba(161, 161, 161, 0.445);
  border: 1px solid rgba(255, 255, 255, 0.589);
  width: 6vw;
  font-size: 0.9vw;
}

.deckMenu-row-section-progress {
  margin: 0.3vw;
  height: 1vh;
}

.userInterface-stats-row {
  display: flex;
}

.inventorySlot-itemImage {
  width: 3vw;
  border-radius: 5px;
  background-color: rgba(255, 243, 220, 0.411);
}

.inventorySlot-itemImage-equipped {
  width: 3vw;
  background-color: rgba(0, 255, 34, 0.418);
  border-radius: 25px;
}

#playerVisualDamageContainer-div,
#petVisualDamageContainer-div {
  text-align: center;
  width: 15vw;
  height: 5vh;
  position: absolute;
  bottom: 14vw;
}

#playerVisualDamage-div,
#petVisualDamage-div {
  background-color: rgba(0, 0, 0, 0.507);
  color: rgba(255, 255, 255, 0.836);
  border-radius: 15px;
}

#petVisualDamage-div {
  color: rgba(255, 193, 111, 0.836);
}

.playerDamage-fade-item,
.petDamage-fade-item {
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid rgba(255, 255, 255, 0.616);
  padding: 0.5em;
  opacity: 1;
  transition: opacity 0.1s;
}

.playerDamage-fade-item {
  animation: playerDamageAppear 1.2s;
}

.petDamage-fade-item {
  animation: petDamageAppear 1.2s;
}

@keyframes playerDamageAppear {
  0% {
    transform: translate3d(6vw, 10vh, 0);
  }
  100% {
    transform: translate3d(2vw, -2vh, 0) scale(1.4);
  }
}

@keyframes petDamageAppear {
  0% {
    transform: translate3d(15vw, 10vh, 0);
  }
  100% {
    transform: translate3d(20vw, -2vh, 0) scale(1.4);
  }
}

.fading {
  opacity: 0;
}

.popover-body {
  text-align: center;
  background-color: rgba(255, 243, 220, 0.37);
  font-family: "Righteous", cursive;
}

.popover-header {
  background-color: rgba(0, 0, 0, 0.884);
  font-family: "Righteous", cursive;
  font-weight: 100;
  color: white;
}

.userInterface-inventory-row {
  display: flex;
  padding: 1vw;
  height: 6vh;
}

.userInterface-stats-row-child {
  width: 6vw;
}

.userInterface-upgrades-upgrade-div-child {
  width: 20%;
  text-align: center;
}

.userInterface-upgrades-upgrade-image,
.userInterface-pets-pet-dps-child,
.userInterface-pets-pet-price-image {
  width: 2vw;
}

#userInterface-player-div {
  position: relative;
  width: 10vw;
  height: 30vh;
  top: 10vh;
}

.userInterface-enemy-image {
  max-width: 35vw;
  max-height: 20vh;
}

.userInterface-boss-image {
  max-width: 40vw;
  max-height: 30vh;
  position: relative;
  bottom: 10vh;
}

#userInterface-enemy-image-container {
  display: flex;
  height: 20vh;
  position: relative;
  width: 30vw;
  right: 10%;
}

.userInterface-player-image {
  max-width: 15vw;
  max-height: 15vh;
  margin-top: 5vh;
}

#userInterface-enemy-div {
  position: relative;
  left: 4vw;
  height: 20vh;
  width: 25vw;
  top: 10vh;
}

.userInterface-enemy-image-dead {
  animation: killEnemy 0.6s;
}

/* Enemy spins and shrinks */
@keyframes killEnemy {
  60% {
    transform: scale(1.4) rotate(15deg) translate(1vw, -5vw) skewX(5deg)
      skewY(-6deg);
  }
  100% {
    transform: scale(0) translate(-2vw, 3vw);
  }
}

@keyframes damageEnemy {
  50% {
    transform: translate3d(25vw, 15vw, 0);
  }
  100% {
    visibility: hidden;
  }
}

#userInterface-enemy-drop-div {
  position: relative;
  left: 10vw;
  width: 8vw;
}

.userInterface-enemy-drop-coin {
  width: 3vw;
  margin-right: -2.6vw;
  padding: 0;
  position: relative;
  top: 4vh;
  left: 5vw;
}

.userInterface-enemy-drop-food {
  width: 2.5vw;
  margin-right: -2vw;
  position: relative;
  top: 4vh;
  left: 5vw;
}

/* Coin hovered by the user */
@keyframes collectCoin {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: translate3d(22vw, -33vw, 0);
  }
}

@keyframes collectFood {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: translate3d(-0.5vw, -34vw, 0);
  }
}

.userInterface-enemy-drop-coin-collect {
  animation: collectCoin 0.5s;
}

.userInterface-enemy-drop-food-collect {
  animation: collectFood 0.5s;
}

/* Coin spawns below the enemy image */
@keyframes appearDrop {
  0% {
    transform: translate3d(-5vw, -18vh, 0);
  }
  30% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  60% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.userInterface-enemy-drop-coin-appear {
  animation: appearDrop 1.5s;
}

.userInterface-enemy-drop-food-appear {
  animation: appearDrop 1.5s;
}

#userInterface-battle-div {
  background-color: rgba(0, 0, 0, 0.801);
  border: 1px solid rgba(95, 95, 95, 0.486);
  border-radius: 25px;
  left: 0;
  right: 0;
  position: fixed;
  font-size: 0.9vw;

  top: 45vh;
  display: flex;
  margin: auto;
  width: 40vw;
  height: 45vh;
  padding: 10px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#userInterface-userSettings-div {
  display: flex;
  position: relative;
  font-size: 0.9vw;

  top: 10vh;
}

#userInterface-userSettings-menu-div {
  position: absolute;
  left: 2.5vw;
}

.userInterface-upgrades-upgrade-div,
.userInterface-pets-pet-div {
  display: flex;
  height: 6vw;
  margin: 1vw;
}

.userInterface-upgrades-upgrade-damage-increment-image {
  width: 1.3vw;
}

.userInterface-upgrades-upgrade-price-image {
  width: 2vw;
}

.userInterface-upgrades-upgrade-button-disabled,
.userInterface-pets-pet-button-disabled {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border-radius: 50px;
  margin: 1vw;
  height: 2vw;
  padding: 0.2vw 0.6vw 0.2vw 0.6vw;
  font-size: 0.9vw;
}

.userInterface-upgrades-upgrade-button-disabled:hover,
.userInterface-pets-pet-button-disabled:hover {
  background-color: rgba(0, 0, 0, 0);
  padding: 0.2vw 0.6vw 0.2vw 0.6vw;
  font-size: 0.9vw;
}

.userInterface-pets-pet-button,
.userInterface-upgrades-upgrade-button {
  margin: 1vw;
  height: 2vw;
  background-color: rgba(228, 228, 228, 0.568);
  color: rgb(0, 0, 0);
  padding: 0.2vw 0.6vw;
  font-size: 0.9vw;
}

.userInterface-upgrades-upgrade-button:hover,
.userInterface-pets-pet-button:hover {
  background-color: rgba(125, 190, 106, 0.568);
  padding: 0.2vw 0.6vw;
  font-size: 0.9vw;
}

.userInterface-topSummary-section {
  display: flex;
  width: 100%;
}

#userInterface-stages-div {
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
  font-size: 0.9vw;

  border-width: 0 1px 1px 1px;
  border-color: rgba(95, 95, 95, 0.486);
  border-style: solid;
  border-radius: 25px;
  width: 20vw;
  padding: 0.5vw;
  margin: auto;
  left: 0;
  right: 0;
  position: fixed;
  top: 27.5vh;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#userInterface-stages-stage {
  display: flex;
}

.userInterface-stages-button {
  background-color: rgba(0, 0, 0, 0.301);
  font-size: 0.9vw;
  border-radius: 25px;
  margin: 0.25vw;
  padding: 0.2vw 0.6vw 0.2vw 0.6vw;
}

.stages-bossFight-button {
  font-size: 0.7vw;
  margin: 0.25vw;
  padding: 0.2vw 0.6vw 0.2vw 0.6vw;
}

.userInterface-stages-unlocked {
  background-color: rgba(201, 255, 164, 0.582);
  border-radius: 5px;
  color: black;
}

.userInterface-stages-button:hover {
  background-color: rgba(255, 255, 255, 0.726);
  color: black;
}

.userInterface-stages-button-selected,
.petsMenu-upgradeSettings-button-selected {
  background-color: rgba(180, 180, 180, 0.76);
  border-color: rgb(255, 255, 255);
  color: black;
  border-radius: 5px;
}

#userInterface-userSettings-menu-holder {
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 25px 25px 0 0;

  display: flex;
  border-width: 1px 0 0 0;
  border-color: rgba(95, 95, 95, 0.486);
  border-style: solid;
}

.userInterface-userSettings-menu-tab-button {
  padding: 0.2vw 0.6vw 0.2vw 0.6vw;
  background-color: rgba(173, 173, 173, 0.308);
  font-size: 0.9vw;

  border-radius: 15px;
  margin: 0.25vw;
}

.userInterface-userSettings-menu-tab {
  display: inline;
}

.userInterface-upgrades-upgrade-name,
.userInterface-pets-pet-price,
.userInterface-pets-pet-dps {
  display: flex;
  align-items: center;
}

.userInterface-pets-pet-image {
  max-width: 4vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.userInterface-pets-pet-image-container {
  height: 4vw;
  width: 4vw;
  display: flex;
}

.userInterface-pets-pet-div-holder {
  position: relative;
  bottom: 3vh;
}

.userInterface-upgrades-upgrade-div-holder {
  position: relative;
  top: 1vh;
}

.userInterface-debug-div {
  position: relative;
  margin: 1vh;
}

#userInterface-idle-div,
#userInterface-debug-div,
#userInterface-upgrades-div,
#userInterface-pets-div,
#userInterface-stats-div,
#userInterface-quests-div,
#userInterface-rebirth-div,
#userInterface-vires-div {
  border-radius: 0 0 25px 25px;
  font-size: 0.9vw;
  position: relative;
  width: 25vw;
  padding: 10px;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
  border-width: 0 1px 1px 1px;
  border-color: rgba(95, 95, 95, 0.486);
  border-style: solid;
  height: 35vh;
  overflow: auto;
}

.rebirth-tomesHeld-image {
  width: 3vw;
}

.rebirth-tomesObtained-image {
  width: 2vw;
}

.userInterface-rebirth-tomesParagrph {
  background-color: #85858544;
  border: 1px solid #eeeeee96;
  width: 10vw;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
}

.userInterface-idle-category {
  background-color: rgba(14, 14, 14, 0.123);
  border-radius: 15px;
  position: relative;
  margin: auto;
  width: 25vw;
  padding: 0 0.5vw 0 0.5vw;
}

#userInterface-inventory-div {
  background-color: rgba(0, 0, 0, 0.801);
  border: 1px solid rgba(95, 95, 95, 0.486);
  color: white;
  border-radius: 25px;
  position: absolute;
  right: 2.5vw;
  width: 25vw;
  top: -10vh;
  height: 40vh;
  padding: 10px;
  cursor: default;
}

#differentGameVersionLoad-div {
  background-color: rgba(0, 0, 0, 0.842);
  border: 1px solid rgba(95, 95, 95, 0.486);
  color: white;
  border-radius: 25px;
  position: absolute;
  left: 30vw;
  width: 40vw;
  top: 50vh;
  height: 40vh;
  padding: 2vw;
  cursor: default;
  overflow-y: auto;
}

.damage-skillEffect {
  text-decoration: rgb(255, 72, 0) underline;
  color: rgb(208, 137, 255);
}

.itemSlot-common {
  border: 0.15vw outset white;
}

.itemSlot-uncommon {
  border: 0.15vw outset rgb(160, 255, 123);
}

.itemSlot-special {
  border: 0.15vw outset rgb(144, 183, 255);
}

.itemSlot-rare {
  border: 0.15vw outset rgb(208, 137, 255);
}

.itemSlot-legendary {
  border: 0.15vw outset rgb(255, 175, 110);
}

.itemRarity-common {
  color: white;
}

.itemRarity-uncommon {
  color: rgb(160, 255, 123);
}

.itemRarity-special {
  color: rgb(144, 183, 255);
}

.itemRarity-rare {
  color: rgb(208, 137, 255);
}

.itemRarity-legendary {
  color: rgb(255, 175, 110);
}

#inventorySlot-buttons {
  display: flex;
}

.inventorySlot-button {
  font-size: 0.7vw;
  padding: 0.4vw;
}

#differentGameVersionLoad-buttons {
  display: flex;
}

#userInterface-chatlog-div {
  background-color: rgba(0, 0, 0, 0.829);
  border-radius: 25px;
  color: white;
  font-size: 0.9vw;
  position: absolute;
  top: 65vh;
  height: 30vh;
  right: 2.5vw;
  margin: auto;
  width: 25vw;
  padding: 1vw;
  cursor: default;
}

#tutorialScreen-div {
  background-color: rgba(0, 0, 0, 0.959);
  border: 1px solid rgba(95, 95, 95, 0.486);

  border-radius: 15px;
  color: white;
  width: 95vw;
  height: 86vh;
  top: 12vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 0.9vw;
  overflow: auto;
}

.tutorialScreen-h5 {
  font-size: 1.3vw;
  padding: 0.5vw 0 0 0;
}

.tutorialScreen-p {
  margin: 0 2vw 2vw 2vw;
  position: relative;
}

.tutorialScreen-image {
  width: 3vw;
  margin: 0.5vw;
}

#userInterface-chatlog-div-paragraphs {
  position: relative;
  overflow-y: auto;
  height: 22vh;
}

#userInterface-player-paragraph,
#userInterface-enemy-paragraph {
  background-color: rgba(0, 0, 0, 0.884);
  position: relative;
  top: 1vh;
  border-radius: 15px;

  font-size: 0.9vw;
  color: rgb(255, 255, 255);
}

.userInterface-upgrades-upgrade-level,
.userInterface-pets-pet-name {
  background-color: rgba(156, 156, 156, 0.479);
  position: relative;
  border-radius: 5px;
  padding: 0.2vw;
  color: rgb(255, 255, 255);
}

#petsMenu-upgradeSettings-div {
  display: flex;
  width: 12vw;
  margin: auto;
}

.petsMenu-upgradeSettings-button {
  padding: 0.3vh 0.6vh;
  background-color: rgba(73, 73, 73, 0.726);
  border: 0.1vh solid rgba(255, 255, 255, 0.616);
}

#userInterface-inventory-money {
  position: relative;
  margin: auto;
  width: 5vw;
}

#userInterface-inventory-money-img {
  height: 1.4vw;
}

#userInterface-skills-div {
  background-color: rgba(0, 0, 0, 0.459);
  border: 1px solid rgba(95, 95, 95, 0.486);
  border-radius: 25px;
  width: 12.5vw;
  padding: 0.5vw;
  margin: auto;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 2vh;
}

.userInterface-skills-skill-div {
  display: inline;
}

.userInterface-skills-skill-img {
  width: 2.5vw;
  margin: 0.1vw;
  transition-duration: 0.2s;
}

.userInterface-quests-logo {
  width: 1.5vw;
}

@media (min-width: 320px) and (max-width: 767px) {
  #userInterface-player-paragraph,
  #userInterface-enemy-paragraph {
    font-size: 1.5em;
  }
  #userInterface-resources-div {
    top: 6vh;
    font-size: 0.5em;
    height: 13vh;
  }

  .deckMenu-row-section {
    width: 6vw;
    font-size: 1.3em;
  }
  #playerVisualDamage-div,
  #petVisualDamage-div {
    font-size: 1em;
  }
  #userInterface-battle-div {
    top: 50vh;
  }
  #userInterface-userSettings-div {
    font-size: 0.5em;
    top: 5vh;
  }

  .userInterface-pets-pet-button,
  .userInterface-upgrades-upgrade-button {
    height: 2.5vw;
    padding: 0.2vw 0.6vw 2.4vw 0.6vw;
    font-size: 1em;
  }
  #userInterface-stages-div {
    font-size: 0.5em;

    border-width: 0 1px 1px 1px;
    border-color: rgba(95, 95, 95, 0.486);
    border-style: solid;
    border-radius: 25px;
    width: 20vw;
    padding: 0.5vw;
    top: 30vh;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  #userInterface-stages-stage-checkbox {
    width: 1vw;
    height: 1vw;
  }

  .userInterface-userSettings-menu-tab-button {
    padding: 0.1vw 0.3vw 0.1vw 0.3vw;
    font-size: 0.5em;
    margin: 1vw;
  }
  #userInterface-idle-div,
  #userInterface-debug-div,
  #userInterface-upgrades-div,
  #userInterface-pets-div,
  #userInterface-stats-div,
  #userInterface-quests-div,
  #userInterface-rebirth-div {
    border-radius: 0 0 25px 25px;
    font-size: 0.5em;
    width: 25vw;
    padding: 0;
  }
  #userInterface-chatlog-div {
    font-size: 0.5em;
    padding: 0.5vw;
  }
  .inventorySlot-itemImage {
    border: 0.1vw outset rgba(255, 227, 191, 0.418);
    width: 2.4vw;
  }

  .inventorySlot-itemImage-equipped {
    width: 2.4vw;
    border: 0.1vw inset rgba(145, 255, 0, 0.945);
  }
}
