/* Global */
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#userInterface-div {
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #ffffff00;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb {
  background-color: #00000094;
  border: 1px solid #b6b6b670;
  border-radius: 15px;
}

.progress {
  border: 0.5px solid rgba(0, 0, 0, 0.815);
  border-radius: 15px;
}

.battleArea-progress {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 1.4vh;
  width: 10vw;
  border-radius: 20px;
}

#battleArea-progress-playerExperience {
  width: 33vw;
}

#battleArea-progress-enemyHealth {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 1.4vh;
  width: 15vw;
}

#battleArea-progress-playerHealth::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, rgb(255, 54, 54), #ff5757);
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 20px;
}

::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, 0.719);
  border-radius: 20px;
  border: 1px solid black;
}

#battleArea-progress-enemyHealth::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, rgb(255, 54, 54), #ff5757);
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 20px;
}

#battleArea-progress-playerExperience::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, rgb(104, 255, 99), #65ff57);
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 20px;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Progress */

.progress0 {
  width: 0%;
}

.progress1 {
  width: 1%;
}

.progress2 {
  width: 2%;
}

.progress3 {
  width: 3%;
}

.progress4 {
  width: 4%;
}

.progress5 {
  width: 5%;
}

.progress6 {
  width: 6%;
}

.progress7 {
  width: 7%;
}

.progress8 {
  width: 8%;
}
.progress9 {
  width: 9%;
}

.progress10 {
  width: 10%;
}

.progress11 {
  width: 11%;
}

.progress12 {
  width: 12%;
}

.progress13 {
  width: 13%;
}

.progress14 {
  width: 14%;
}

.progress15 {
  width: 15%;
}

.progress16 {
  width: 16%;
}

.progress17 {
  width: 17%;
}

.progress18 {
  width: 18%;
}

.progress19 {
  width: 19%;
}

.progress20 {
  width: 20%;
}

.progress21 {
  width: 21%;
}

.progress22 {
  width: 22%;
}

.progress23 {
  width: 23%;
}

.progress24 {
  width: 24%;
}

.progress25 {
  width: 25%;
}

.progress26 {
  width: 26%;
}

.progress27 {
  width: 27%;
}

.progress28 {
  width: 28%;
}

.progress29 {
  width: 29%;
}

.progress30 {
  width: 30%;
}

.progress31 {
  width: 31%;
}

.progress32 {
  width: 32%;
}

.progress33 {
  width: 33%;
}

.progress34 {
  width: 34%;
}

.progress35 {
  width: 35%;
}

.progress36 {
  width: 36%;
}

.progress37 {
  width: 37%;
}

.progress38 {
  width: 38%;
}

.progress39 {
  width: 39%;
}

.progress40 {
  width: 40%;
}

.progress41 {
  width: 41%;
}

.progress42 {
  width: 42%;
}

.progress43 {
  width: 43%;
}

.progress44 {
  width: 44%;
}

.progress45 {
  width: 45%;
}

.progress46 {
  width: 46%;
}

.progress47 {
  width: 47%;
}

.progress48 {
  width: 48%;
}

.progress49 {
  width: 49%;
}

.progress50 {
  width: 50%;
}

.progress51 {
  width: 51%;
}

.progress52 {
  width: 52%;
}

.progress53 {
  width: 53%;
}

.progress54 {
  width: 54%;
}

.progress55 {
  width: 55%;
}

.progress56 {
  width: 56%;
}

.progress57 {
  width: 57%;
}

.progress58 {
  width: 58%;
}

.progress59 {
  width: 59%;
}

.progress60 {
  width: 60%;
}

.progress61 {
  width: 61%;
}

.progress62 {
  width: 62%;
}

.progress63 {
  width: 63%;
}

.progress64 {
  width: 64%;
}

.progress65 {
  width: 65%;
}

.progress66 {
  width: 66%;
}

.progress67 {
  width: 67%;
}

.progress68 {
  width: 68%;
}

.progress69 {
  width: 69%;
}

.progress70 {
  width: 70%;
}

.progress71 {
  width: 71%;
}

.progress72 {
  width: 72%;
}

.progress73 {
  width: 73%;
}

.progress74 {
  width: 74%;
}

.progress75 {
  width: 75%;
}

.progress76 {
  width: 76%;
}

.progress77 {
  width: 77%;
}

.progress78 {
  width: 78%;
}

.progress79 {
  width: 79%;
}

.progress80 {
  width: 80%;
}

.progress81 {
  width: 81%;
}

.progress82 {
  width: 82%;
}

.progress83 {
  width: 83%;
}

.progress84 {
  width: 84%;
}

.progress85 {
  width: 85%;
}

.progress86 {
  width: 86%;
}

.progress87 {
  width: 87%;
}

.progress88 {
  width: 88%;
}

.progress89 {
  width: 89%;
}

.progress90 {
  width: 90%;
}

.progress91 {
  width: 91%;
}

.progress92 {
  width: 92%;
}

.progress93 {
  width: 93%;
}

.progress94 {
  width: 94%;
}

.progress95 {
  width: 95%;
}

.progress96 {
  width: 96%;
}

.progress97 {
  width: 97%;
}

.progress98 {
  width: 98%;
}

.progress99 {
  width: 99%;
}

.progress100 {
  width: 100%;
}

/* Targeted */

.cooldown {
  opacity: 0.1;
  transition-duration: 0.2s;
}

.scale {
  transition-duration: 0.2s;
}

.scale:hover {
  transform: scale(1.2);
}

.scale-click {
  transition-duration: 0.15s;
}

.scale-click:active {
  transform: scale(1.3);
}

#userInterface-h1 {
  position: relative;
  font-family: "Great Vibes", cursive;
  font-size: 2vw;
  padding: 0.25vw;
  top: 4vh;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.76);
  border: 1px solid rgba(95, 95, 95, 0.486);
  border-radius: 50px;
  color: white;
  left: 42.5vw;
  width: 15vw;
}

#userInterface-resources-div {
  position: relative;
  display: flex;
  top: 6vh;
  margin: auto;
  width: 25vw;
  padding: 10px;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.048);
  border: 1px solid rgba(95, 95, 95, 0.486);
  font-size: 0.9vw;

  border-radius: 15px;
  color: white;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#userInterface-userSettings-div {
  display: flex;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.userInterface-resource-div {
  display: inline;
}

.userInterface-resources-image {
  width: 4vw;
}

.userInterface-resource-div-paragraph {
  background-color: rgba(0, 0, 0, 0.678);
  border-radius: 5px;
}

.userInterface-stats-summary-row,
.deckMenu-row {
  display: flex;
  margin-bottom: 1vw;
}

.deckMenu-row-section-bonusImage {
  width: 1.5vw;
}

.userInterface-stats-summary-section,
.deckMenu-row-section {
  display: block;
  width: 4vw;
  padding: 0.2vw;
  border-radius: 15px;
}

.userInterface-stats-summary-section {
  background-color: rgba(173, 173, 173, 0.178);
}

.userInterface-stats-summary-section-image {
  height: 2vh;
}

.deckMenu-row-image {
  width: 5vw;
  transition-duration: 0.2s;
}

.deckMenu-row-image:hover {
  transform: scale(1.5) rotate(-10deg) translate(0, -10px);
}

.deckMenu-row-image-locked {
  width: 5vw;
  opacity: 0.1;
}

.deckMenu-row-section {
  background-color: rgba(161, 161, 161, 0.445);
  border: 1px solid rgba(255, 255, 255, 0.589);
  width: 6vw;
  font-size: 0.9vw;
}

.deckMenu-row-section-progress {
  margin: 0.3vw;
}

.userInterface-stats-row {
  display: flex;
}

.inventorySlot-itemImage {
  width: 2.8vw;
  padding: 0.1vw;
  border: 3px outset rgba(255, 227, 191, 0.418);
  border-radius: 5px;
  background-color: rgba(255, 243, 220, 0.411);
}

.inventorySlot-itemImage-equipped {
  width: 2.8vw;
  padding: 0.2vw;
  background-color: rgba(218, 218, 218, 0.432);
  border: 3px inset rgba(145, 255, 0, 0.945);
  border-radius: 5px;
}

.popover-body {
  text-align: center;
  background-color: rgba(255, 243, 220, 0.37);
}

.popover-header {
  background-color: rgba(255, 194, 81, 0.37);
}

.userInterface-inventory-row {
  display: flex;
  padding: 1vw;
}

.userInterface-stats-row-child {
  width: 6vw;
}

.userInterface-upgrades-upgrade-div-child {
  width: 20%;
  text-align: center;
}

.userInterface-upgrades-upgrade-image,
.userInterface-pets-pet-dps-child,
.userInterface-pets-pet-price-image {
  width: 2vw;
}

#userInterface-player-div {
  position: relative;
  width: 10vw;
}

.userInterface-player-image,
.userInterface-enemy-image {
  width: 10.5vw;
}

.userInterface-enemy-image-dead {
  animation: killEnemy 0.5s;
}

/* Enemy spins and shrinks */
@keyframes killEnemy {
  50% {
    transform: scale(1.6);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes damageEnemy {
  50% {
    transform: translate3d(25vw, 15vw, 0);
  }
  100% {
    visibility: hidden;
  }
}

#userInterface-enemy-div {
  position: relative;
  left: 8vw;
  height: 25vh;
  width: 15vw;
}

#userInterface-enemy-drop-div {
  position: relative;
  left: 3vw;
  width: 8vw;
}

.userInterface-enemy-drop-coin {
  width: 1.5vw;
  margin-right: -1.1vw;
  position: relative;
  top: 5vh;
  left: 5vw;
}

.userInterface-enemy-drop-food {
  width: 1.7vw;
  margin-right: -1.1vw;
  position: relative;
  top: 5vh;
  left: 5vw;
}

/* Coin hovered by the user */
@keyframes collectCoin {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: translate3d(22vw, -33vw, 0);
  }
}

@keyframes collectFood {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: translate3d(-0.5vw, -34vw, 0);
  }
}

.userInterface-enemy-drop-coin-collect {
  animation: collectCoin 0.5s;
}

.userInterface-enemy-drop-food-collect {
  animation: collectFood 0.5s;
}

/* Coin spawns below the enemy image */
@keyframes appearDrop {
  0% {
    transform: translate3d(-5vw, -18vh, 0);
  }
  30% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  60% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.userInterface-enemy-drop-coin-appear {
  animation: appearDrop 1.5s;
}

.userInterface-enemy-drop-food-appear {
  animation: appearDrop 1.5s;
}

#userInterface-battle-div {
  background-color: rgba(0, 0, 0, 0.158);
  border: 1px solid rgba(95, 95, 95, 0.486);
  border-radius: 25px;
  left: 0;
  right: 0;
  position: fixed;
  font-size: 0.9vw;

  top: 55vh;
  display: flex;
  margin: auto;
  width: 35vw;
  padding: 10px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#userInterface-userSettings-div {
  display: flex;
  position: relative;
  font-size: 0.9vw;

  top: 10vh;
}

#userInterface-userSettings-menu-div {
  position: absolute;
  left: 2.5vw;
}

.userInterface-upgrades-upgrade-div,
.userInterface-pets-pet-div {
  display: flex;
  height: 5vw;
  margin: 1vw;
}

.userInterface-upgrades-upgrade-damage-increment-image {
  width: 1.3vw;
}

.userInterface-upgrades-upgrade-price-image {
  width: 1.4vw;
}

.userInterface-upgrades-upgrade-button-disabled,
.userInterface-pets-pet-button-disabled {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border-radius: 50px;
  margin: 1vw;
  height: 2vw;
  padding: 0.2vw 0.6vw 0.2vw 0.6vw;
  font-size: 0.9vw;
}

.userInterface-upgrades-upgrade-button-disabled:hover,
.userInterface-pets-pet-button-disabled:hover {
  background-color: rgba(0, 0, 0, 0);
  padding: 0.2vw 0.6vw 0.2vw 0.6vw;
  font-size: 0.9vw;
}

.userInterface-pets-pet-button,
.userInterface-upgrades-upgrade-button {
  margin: 1vw;
  height: 2vw;
  background-color: rgba(228, 228, 228, 0.568);
  color: rgb(0, 0, 0);
  padding: 0.2vw 0.6vw 0.2vw 0.6vw;
  font-size: 0.9vw;
}

.userInterface-upgrades-upgrade-button:hover,
.userInterface-pets-pet-button:hover {
  background-color: rgba(125, 190, 106, 0.568);
  padding: 0.2vw 0.6vw 0.2vw 0.6vw;
  font-size: 0.9vw;
}

.userInterface-topSummary-section {
  display: flex;
  width: 100%;
}

#userInterface-stages-div {
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
  font-size: 0.9vw;

  border-width: 0 1px 1px 1px;
  border-color: rgba(95, 95, 95, 0.486);
  border-style: solid;
  border-radius: 25px;
  width: 20vw;
  padding: 0.5vw;
  margin: auto;
  left: 0;
  right: 0;
  position: fixed;
  top: 30vh;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#userInterface-stages-stage {
  display: flex;
}

.userInterface-stages-button {
  background-color: rgba(0, 0, 0, 0.301);
  font-size: 0.9vw;
  border-radius: 25px;
  margin: 0.25vw;
  padding: 0.2vw 0.6vw 0.2vw 0.6vw;
}

.userInterface-stages-unlocked {
  background-color: rgba(201, 255, 164, 0.582);
  border-radius: 5px;
  color: black;
}

.userInterface-stages-button:hover {
  background-color: rgba(255, 255, 255, 0.726);
  color: black;
}

.userInterface-stages-button-selected {
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 5px;
  color: black;
}

#userInterface-userSettings-menu-holder {
  background-color: rgba(0, 0, 0, 0.671);
  border-radius: 25px 25px 0 0;

  display: flex;
  border-width: 1px 0 0 0;
  border-color: rgba(95, 95, 95, 0.486);
  border-style: solid;
}

.userInterface-userSettings-menu-tab-button {
  padding: 0.2vw 0.6vw 0.2vw 0.6vw;
  background-color: rgba(173, 173, 173, 0.308);
  font-size: 0.9vw;

  border-radius: 15px;
  margin: 0.25vw;
}

.userInterface-userSettings-menu-tab {
  display: inline;
}

.userInterface-upgrades-upgrade-name,
.userInterface-pets-pet-price,
.userInterface-pets-pet-dps {
  display: flex;
  align-items: center;
}

.userInterface-pets-pet-image {
  width: 5vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.userInterface-pets-pet-div-holder {
  position: relative;
  bottom: 3vh;
}

.userInterface-upgrades-upgrade-div-holder {
  position: relative;
  top: 1vh;
}

.userInterface-debug-div {
  position: relative;
  margin: 1vh;
}

#userInterface-idle-div,
#userInterface-debug-div,
#userInterface-upgrades-div,
#userInterface-pets-div,
#userInterface-stats-div,
#userInterface-quests-div {
  border-radius: 0 0 25px 25px;
  font-size: 0.9vw;
  position: relative;
  width: 25vw;
  padding: 10px;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.801);
  color: white;
  border-width: 0 1px 1px 1px;
  border-color: rgba(95, 95, 95, 0.486);
  border-style: solid;
  height: 35vh;
  overflow: auto;
}

.userInterface-idle-category {
  background-color: rgba(14, 14, 14, 0.123);
  border-radius: 15px;
  position: relative;
  margin: auto;
  width: 25vw;
  padding: 0 0.5vw 0 0.5vw;
}

#userInterface-inventory-div {
  background-color: rgba(0, 0, 0, 0.801);
  border: 1px solid rgba(95, 95, 95, 0.486);
  color: white;
  border-radius: 25px;
  position: absolute;
  right: 2.5vw;
  width: 25vw;
  top: -10vh;
  height: 40vh;
  padding: 10px;
  cursor: default;
}

#inventorySlot-buttons {
  display: flex;
}

.inventorySlot-button {
  font-size: 0.7vw;
  padding: 0.4vw;
}

#userInterface-chatlog-div {
  background-color: rgba(0, 0, 0, 0.829);
  border-radius: 25px;
  color: white;
  font-size: 0.9vw;
  position: absolute;
  top: 65vh;
  height: 30vh;
  right: 2.5vw;
  margin: auto;
  width: 25vw;
  padding: 10px;
  cursor: default;
}

#tutorialScreen-div {
  background-color: rgba(0, 0, 0, 0.829);
  border: 1px solid rgba(95, 95, 95, 0.486);

  border-radius: 15px;
  color: white;
  width: 40vw;
  height: 30vh;
  top: 28vh;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 0.9vw;
  overflow: auto;
}

.tutorialScreen-h5 {
  font-size: 1.3vw;
  padding: 0.5vw 0 0 0;
}

.tutorialScreen-p {
  margin: 0 2vw 2vw 2vw;
  position: relative;
}

.tutorialScreen-image {
  width: 3vw;
  margin: 0.5vw;
}

#userInterface-chatlog-div-paragraphs {
  position: relative;
  overflow-y: auto;
  height: 22vh;
}

#userInterface-player-paragraph,
#userInterface-enemy-paragraph {
  background-color: rgba(0, 0, 0, 0.884);
  position: relative;
  top: 1vh;
  border-radius: 15px;

  font-size: 0.8vw;
  color: rgb(255, 255, 255);
}

.userInterface-upgrades-upgrade-level,
.userInterface-pets-pet-name {
  background-color: rgba(156, 156, 156, 0.479);
  position: relative;
  border-radius: 5px;
  padding: 0.2vw;
  color: rgb(255, 255, 255);
}

#userInterface-inventory-money {
  position: relative;
  margin: auto;
  width: 5vw;
}

#userInterface-inventory-money-img {
  height: 1.4vw;
}

#userInterface-skills-div {
  background-color: rgba(0, 0, 0, 0.459);
  border: 1px solid rgba(95, 95, 95, 0.486);
  border-radius: 25px;
  width: 15vw;
  padding: 0.5vw;
  margin: auto;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 2vh;
}

.userInterface-skills-skill-div {
  display: inline;
}

.userInterface-skills-skill-img {
  width: 2.5vw;
  margin: 0.1vw;
  transition-duration: 0.2s;
}

.userInterface-quests-logo {
  width: 1.5vw;
}
